<h1>Just one article</h1>
<a href="/articles">Home</a>

<div class="article" style="border: 1px solid black;">
  <h2>Title: <%= article.title %></h2>
  <h3>Author: <%= article.author %></h3>
  <p>Text: <%= article.text %></p>
  <img width="300" src="<%= article.image %>" />
</div>
