<h1>Create a new article</h1>
<a href="/articles">Home</a>

<form method="POST" action="/articles">
  <label>Title</label>
  <input name="title" />
  <br/>

  <label>Text</label>
  <textarea name="text"></textarea>
  <br/>

  <label>Author</label>
  <input name="author" />
  <br/>

  <label>Image</label>
  <input name="image" />
  <br/>

  <button type="submit">Create new article</button>
</form>
