<h2><%= heading %></h2>
<a href="/about">About</a>

<div>
  <a href="/languages/en">English</a>
  <a href="/languages/fr">French</a>
  <a href="/languages/ja">Japanese</a>
  <a href="/languages/ko">Korean</a>
  <a href="/languages/es">Spanish</a>
  <a href="/languages/so">Somali</a>
</div>

<p><%= body %></p>
