<h1>Login</h1>

<h2>Need to <a href="/register">register?</a></h2>

<form method="POST" action="/login">
  <label>Email</label>
  <input name="email" />

  <label>Password</label>
  <input name="password" />

  <button type="submit">Login now!</button>
</form>
